a,
span {
    color: var(--site-light);
    text-decoration: none;
}

.btn-logout {

    background-color: var(--site--dark);
    color: var(--site-cream);

    text-decoration: none;
    border: 0;
    cursor: pointer;

    margin-left: 15px;
    font-size: inherit;
    font-family: 'Google Sans', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 10px;

}

.user-logged {
    display: flex;
    align-items: center;
}

::ng-deep .mat-mdc-menu-panel {
    background-color: var(--site-primary) !important;
    min-width: 150px !important;
    padding: 0 !important;
}

::ng-deep .mat-mdc-menu-content {
    background-color: var(--site-primary) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

button[mat-raised-button] {
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--site-orange) !important;
    font-family: 'Google Sans', Tahoma, Geneva, Verdana, sans-serif;

    ::ng-deep .mdc-button__label {
        color: var(--site-orange) !important;
    }
}

button[mat-menu-item] {
    background-color: var(--site-primary) !important;
    border-radius: 0 !important;

    span {
        color: var(--site-light) !important;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}