<div class="search-page-container">

    <main class="results-main">
        <div class="map-wrapper" *ngIf="searchText || properties.length > 0">
            <app-map class="search-map" [markers]="properties" [cityBoundary]="searchText"></app-map>
        </div>

        <div class="top-searchbar-container">
            <app-searchbar></app-searchbar>
        </div>
        <div class="results-header">
            <h2 *ngIf="searchText">Risultati per "{{searchText}}" ({{properties.length}} {{properties.length === 1 ?
                'immobile' : 'immobili'}})</h2>
            <h2 *ngIf="!searchText">Tutti i risultati ({{properties.length}} {{properties.length === 1 ? 'immobile' :
                'immobili'}})</h2>
            <select class="sort-select">
                <option>Più recenti</option>
                <option>Prezzo: crescente</option>
                <option>Prezzo: decrescente</option>
                <option>Superficie</option>
            </select>
        </div>

        <div class="cardContainer">
            <app-card *ngFor="let prop of properties | slice:0:6" [properties]="prop"></app-card>
        </div>
    </main>
</div>