input{
    background-color: color-mix(in srgb, var(--site-cream), var(--site-primary) 5%);
    border: none;
    outline: none;
    border-radius: 50px;
    flex: 1;
    width: 100%;
    max-width: 900px;
    min-width: 2vw;
    font-size: 1rem;
    padding: 5px;
    color: var(--site-primary);
}

input:focus{

}

input:hover{
    background-color: color-mix(in srgb, var(--site-cream), var(--site-primary) 10%);
}